.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.gridContainer {
  width: 20%;
}

li {
  list-style-type: none;
}

span {
  width: 5px;
  height: 5px;
}

.highlight {
  color: blue;
}
