.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.gridContainer {
  width: 33%;
  height: 200px;
}

ul {
  margin: 0;
  padding: 0;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cell {
  width: 10px;
  height: 10px;
}

.highlight {
  color: blue;
}
